BASE_URL=
PORT=
JWT_SECRET=

CLIENT_ID=
CLIENT_SECRET=

GHL_REDIRECT_URI=
GHL_API_BASE_URL=
GHL_API_VERSION=
GHL_APP_NAME=

SUPABASE_URI=
SUPABASE_PUBLIC_KEY=

CORS_ORIGIN=
REDIRECT_URL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
FROM_EMAIL_ID=

CALENDLY_AUTH_BASE_URL=
CALENDLY_API_BASE_URL=
CALENDLY_CLIENT_ID=
CALENDLY_CLIENT_SECRET=
CALENDLY_WEBHOOK_KEY=
CALENDLY_REDIRECT_URL=

ONCEHUB_API_BASE_URL=
